body {
    width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

#title_navbar {
    height: 40px;
    padding: 32px 32px  0 32px;
    margin-bottom: 16px;
}

#title_navbar .header {
    width: 400px;
    font-size: 36px;
    display: inline-block;
}

#title_navbar button {
    float: right;
    padding: 8px;
    font-size: 18px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

#content {
    padding: 0 32px;
}

.r_donkey_intro {
    line-height: 24px;
    text-align: justify;
    margin-bottom: 8px;
}

.r_update_tracker {
    height: 40px;
    background-color: darkblue;
    color: ivory;
    margin-bottom: 8px;
    overflow: hidden;
}

.r_update_tracker ul {
	list-style: none;
    margin: 6px 0;
    line-height: 32px;
    font-size: 18px;
}

.r_update_tracker ul li {
    display: inline;
    padding: 0 8px;
}

.r_update_tracker ul li:not(:first-child) {
    border-left: 2px solid ivory;
}

.hee_haw {
    font-size: 200px;
    margin: 200px auto;
    width: 900px;
}

.r_donkey_list table {
    width: 100%;
}

th {
    text-align: left;
    font-size: 24px;
}

tr {
  background-color:aliceblue;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

tr.changing {
  background-color:red;
}

td:first-child {
    width: 10%;
    padding-right: 16px;
}

td:not:first-child{
    width: 22.5%;
}

td img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

td input {
    padding: 8px;
    width: 90%;
}